.action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 22px;
  height: 22px;
}

.dark {
  display: none;

  @mixin light {
    display: block;
  }
}

.light {
  display: none;

  @mixin dark {
    display: block;
  }
}
