.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.title {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
